body{
  background-color: yellow;
}
h1{
  color: #500650;
}
form{
  margin-left: 30%;
  background-color: #d2cccc;
  background-position: center;
  border:3px solid #771488;
  border-radius: 4px;
  margin-bottom: 7px;
  width: 400px;
  color: #500650;
  font-size: 21px;
}
.name{
  border: 1px solid black;
  width: 90%;
}

.email{
  border: 1px solid black;
  width: 93%;
}

.status{
  border-radius: 10px;
  resize:none;
  height: 96px;
  width: 200px;
}
#status
{
  width: 170px;
  height: 80px;
  resize: none;
}

.send{
  background-color: grey;
  color: black;
  margin-left: 400px;
  margin-top: 10px;
}
#send.button
{
  margin-left: 133px;
}

.errormessage
{
  font-size: 12px;
  color: red;
  font-variant: small-caps;
}
