:root
{
  /* Color scheme */
  --site-primary-color: yellow;
  --site-secondary-color: black;
  --form-primary-color: lightgrey;
  --form-secondary-color: purple;
  --form-text-color: black;
  --error-text-color: red;
  --btn-primary-color: pink;
  --btn-secondary-color: grey;
}
body{
  color: var(--site-secondary-color);
  text-align: center;
  background-color: var(--site-primary-color);
  padding: 0px 3px;
  box-sizing: border-box;
  display: inline-block;
}
form{
  background-color: var(--form-primary-color);
  border:4px solid;
  border-color: var(--form-secondary-color);
  border-radius: 30px;
  margin-bottom: 10px;
  width: 349px;
  color: var(--form-text-color);
  font-size: 18px;
  text-align: right;
  float: left;
}
h1
{
  font-size: 30px;
  margin: 0px 0px 0px 0px;
}
.button
{
  margin: 3px 25px 3px 5px;
  text-decoration: none;
  color: var(--form-text-color);
  border: solid 2px;
  border-Color: var(--btn-secondary-color);
  background-color: var(--btn-primary-color);
  height: 23px;
}
.link
{
  font-size: 17px;
  margin: 3px 25px 3px 5px;
  text-decoration: none;
  color: var(--form-text-color);
  border: solid 2px;
  border-Color: var(--btn-secondary-color);
  background-color: var(--btn-primary-color);
  height: 23px;

}
.errormessage
{
  font-size: 10px;
  color: var(--error-text-color);
  font-variant: small-caps;
  text-align: justify;
  float: right;
}
.comment
{
  float: right;
}
.img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.commenting-div
{
  display: block;
}
